body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
}
/* Heading Style ********************************/

.heading {
  text-align: center;
  margin-top: 48px;
}
/* Hero Style ***********************************/

.hero-container {
margin-top: 40px;
}

.image {
  height: 500px;
  object-fit: cover;
}

.card-image {
  height: 350px;
  object-fit: cover;
}

/* Location Style *******************************/

.location-container {
  margin: 40px 0;
}

.location-card {
  width: 50%;
}

