body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
}

/* Hero Style ***********************************/

/* .hero-image {
  width: 100%;
} */

/* The hero image */
/* .hero-container{
max-height: 500px;
} */
/* .hero-image { */
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* opacity: 0.8; */

  /* Set a specific height */
  /* width: 100%;
  height: 100%; */

  /* Position and center the image to scale nicely on all screens */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */


/* Place text in the middle of the image */
/* .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */